/* --------------------------------------

	Template:		41
	Datum: 			19.12.2012
	Version: 		1.0
	Homepage:		http://freietemplates.de/
	
----------------------------------------*/

/*------ General ---------------------- */
body {
background-image:url(bilder/bg.png);
font-size:13px;
font-family: 'Trebuchet MS', sans-serif;
line-height:22px;
color:#000;
padding:0;
margin:0;
}

* {
padding:0;
margin:0;
outline:none;
}

a { color:#17b3e6;}
a:hover { color: #1a8bb0;
text-decoration:none;}

img {
border:none;
}

/*------ Überschriften ---------------------- */
h1{
font-size:20px;
margin:10px 0;
padding:0 0 5px 0;
border-bottom:1px dashed #fff;
color:#000;
}

h2{
font-size:16px;
margin:10px 0;
color:#000;
}

h3{
font-size:13px;
margin:10px 0;
color:#000;
}

/*------ Struktur ---------------------- */
#wrapper {
width:980px;
margin:30px auto;
}

#shadow {
-moz-box-shadow:    0 0 10px #000;
-webkit-box-shadow: 0 0 10px #000;
box-shadow:         0 0 10px #000;
}

#sidebar {
float:left;
width:200px;
}

#right {
float:right;
width:760px;
}

#logo  {
font-size:40px;
font-weight:bold;
color:#fff;
text-decoration:none;
}

#logo:hover {
color:#17b3e6;
}

/*------ Topnavigation ---------------------- */
#topnav {
background-color:#131313;
width:980px;
height:50px;
padding:0;
margin:20px 0 0 0;
border-bottom:4px solid #17b3e6;
}

#topnav ul {
margin:0;
padding:0;
list-style:none;
}

#topnav ul li {
float:left;
border-right:1px solid #222222;
}

#topnav ul li a {
display:block;
height:34px;
padding:16px 20px 0;
color:#fff;
font-weight:bold;
text-decoration:none;
}

#topnav ul li a:hover {
background-color:#313131;
}

/*------ Menü in der Sidebar ---------------------- */
.menuhead {
font-family:Arial, sans-serif;
font-size:15px;
font-weight:bold;
letter-spacing:1px;
padding:0;
margin:15px 0 5px 0;
color:#000;
}

.menu ul {
list-style-type:none;
}

.menu ul li {
height:27px;
width:180px;
border-bottom:1px solid #e4e4e4;
}

.menu ul li:first-child {
border-top:1px solid #e4e4e4;
padding:0 0 1px 0;
}

.menu ul li a {
font-size:12px;
display:block;
width:180px;
height:22px;
color:#000;
text-decoration:none;
padding:4px 0 0 5px;
margin:1px 0 0 0;
}

.menu ul li a:hover {
color:#000;
background-color:#f1f1f1;
text-shadow:1px 1px 0 #fff;
font-weight:bold;
}

/*------ Content ---------------------- */
#content {
overflow:hidden;
background-color:#fff;
width:960px;
height:auto;
text-align:justify;
padding:10px;
}

/*------ Footer ---------------------- */
#footer {
clear:both;
background-color:#e4e4e4;
border-top:1px solid #d2d2d2;
border-bottom:4px solid #17b3e6;
color:#000;
font-size:11px;
width:960px;
height:180px;
margin:0 auto 0;
padding:10px 10px;
}
